@use "../../styles/base" as base;
@use "../../styles/constants" as *;

:local {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 160px 0;
    max-width: $smaller-content;
    @media screen and (max-width: $absolute-break) {
      width: 100%;
      padding: $spacing-4xl $spacing-l 0 $spacing-l;
    }
    @media screen and (min-width: $absolute-break) and (max-width: $max-width-content) {
      padding: 160px $spacing-xl 0 $spacing-xl;
    }
    h2 {
      color: $color-primary-dark;
      margin: $spacing-5xl 0;
      @media screen and (max-width: $absolute-break) {
        margin: 0;
        margin-bottom: $spacing-3xl;
      }
    }
  }
}
