@use "./constants" as *;

@font-face {
  font-family: "Clan Pro";
  src: url("/fonts/ClanWebPro-News.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Clan Pro";
  src: url("/fonts/ClanWebPro-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("/fonts/SourceSerifPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("/fonts/SourceSerifPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: "Clan Pro";
  font-size: $spacing-5xl;
  font-style: normal;
  font-weight: 700;
  line-height: 102px;
  color: $color-white;
  margin: 0;
  hyphens: none;
  @media screen and (max-width: $absolute-break) {
    font-size: 40px;
    line-height: 51px;
  }
}
h2 {
  font-family: "Clan Pro";
  font-size: $spacing-2xl;
  font-style: normal;
  font-weight: 700;
  line-height: 61px;
  color: white;
  margin: 0;
  hyphens: none;
  @media screen and (max-width: $absolute-break) {
    font-size: $spacing-xl;
    line-height: 41px;
  }
}
h3 {
  font-family: "Clan Pro";
  font-size: $spacing-xl;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
  hyphens: none;
  @media screen and (max-width: $absolute-break) {
    font-size: $spacing-l;
    line-height: 30px;
  }
}
h4 {
  font-family: "Clan Pro";
  font-size: $spacing-l;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: $color-white;
  margin: 0;
  hyphens: none;
  @media screen and (max-width: $absolute-break) {
    font-size: 20px;
    line-height: 25px;
  }
}
