@use "../../styles/base" as base;
@use "../../styles/constants" as *;

:local {
  .accordion {
    width: 100%;
    .clickable {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: $spacing-2xs solid $color-primary-dark;
      background: rgba(30, 55, 145, 0.08);
      cursor: pointer;
      padding: $spacing-s $spacing-l;
      user-select: none;
      & > img {
        width: 30px;
        height: 30px;
        transition: $transition-slow;
        &.turned {
          transform: rotate(90deg);
        }
      }
      & > div {
        width: 30px;
        height: 30px;
        transition: $transition-slow;
        &.turned {
          transform: rotate(90deg);
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
      .title {
        color: $color-primary-dark !important;
        @include base.body-bold;
      }
    }
    .panel {
      transition: $transition-slow;
      overflow: hidden;
      background: $bg-color-light !important;
      padding-top: $spacing-l;
      padding-bottom: $spacing-l;
      height: 100%;

      .paragraph {
        padding: 0px $spacing-l;
        p {
          height: 100%;
          color: $color-primary-dark !important;
          @include base.body;
          hyphens: auto;
        }
      }
    }
  }
}
