@use "../../styles/base" as base;
@use "../../styles/constants" as *;

:local {
  .wrapper {
    background-color: $color-primary-dark;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    color: $color-white;

    .content {
      max-width: $smaller-content;
      margin: 0 auto;
      display: flex;
      gap: 138px;
      align-items: center;
      @media screen and (max-width: $absolute-break) {
        gap: 45px;
      }
      @media screen and (min-width: $absolute-break) and (max-width: $max-width-content) {
        padding: $spacing-5xl $spacing-xl;
        gap: $spacing-l;
      }
      & > div:first-of-type {
        width: 204px;
      }
      & > div:last-of-type {
        flex: 1;
        h2 {
          margin-bottom: 37px;
          @media screen and (max-width: $absolute-break) {
            margin-bottom: $spacing-l;
          }
        }
        p {
          @include base.body-intro;
          @media screen and (max-width: $absolute-break) {
            @include base.text-mobile;
          }
        }
      }

      @media screen and (max-width: $absolute-break) {
        flex-direction: column-reverse;
        width: 100%;
        & > div:first-of-type {
          width: 100%;
          & > div {
            padding-top: $spacing-xs;
            text-align: center;
          }
        }
      }
      @media screen and (min-width: $absolute-break) {
        height: 100vh;
        max-height: $max-height-section;
      }
    }

    @media screen and (max-width: $absolute-break) {
      padding: $spacing-3xl $spacing-l;
      padding-top: 158px;
      min-height: 100vh;
    }
  }
}
