html {
  font-size: 14px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
body {
  text-wrap: balance;
}

a {
  text-decoration: none;
}
